Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"

RewriteOptions inherit
# To prevent access to .env and other files
<Files .*>
    # Apache 2.2
    <IfModule !mod_authz_core.c>
        Order deny,allow
        Deny from all
    </IfModule>
    
    # Apache 2.4
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
</Files>

<IfModule mod_alias.c>
#    RedirectMatch 301 ^/$ https://dash.sofieamoura.com/public
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
</IfModule>
#<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteRule ^$ public/index.php [L]
#    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
#</IfModule>
